/* -------------------------------------------------------------- */
/* ------------------------ 기존 css 수정 ------------------------ */ 
/* -------------------------------------------------------------- */

.iwms {
    .comPaging {
        margin-top: 60px;
        .start, .prev, .next, .end {height: 34px;}
        .numList {
            & > li {
                width: 34px; height: 34px; margin-left: 6px; 
                a {
                    color: #000; font-weight: 500; border-radius: 8px; background: #EFF1F7; align-content: center;
                }
                &.on a {
                    color: #FFF; background: #3569E7;
                }
            }
        }
    }   

    /* ----------------------------------------- 테이블영역 button ----------------------------------------- */
    .cptTable {
        .gridBtn { 
            height: 35px; padding: 0 30px;
            &.plus {
                width: 35px; min-width: 35px; padding: 0; font-size:0; background:#fff url(../../common/images/iwms/ic_15_plus.svg) center no-repeat; border:1px solid var(--basic-dkBlue);
            }
            &.minus {
                width: 35px; min-width: 35px; padding: 0; font-size:0; background:#fff url(../../common/images/iwms/ic_15_minus.svg) center no-repeat; border:1px solid var(--basic-dkBlue);
            }
        }
        select.iptSlt {height: 35px;}
        input.iptText {height: 35px;}

        .pointText {
            width: 100%; min-height: 14px; margin-top: 6px; padding-left: 18px; color: #FF5C4A; font-size: 12px; font-style: normal; font-weight: 400; line-height: 1.3;
            display: block; background: url(../../common/images/iwms/ic_14_redpoint.svg) left top no-repeat;
            &:first-child {margin-top: 0;}
        }

        //추가
        .inApproval {
            width: 100%; padding-top: 4px; text-align: center; display: flex; flex-wrap: wrap;
            dt {
                width: 100%; padding-top: 15px; display: flex; position: relative; justify-content: center;
            }
            dd {
                width: 100%; padding-bottom: 15px; margin-top: 12px; display: flex; justify-content: center;
            }
            .mark {
                width: 80px; height: 80px; border: 4px solid #A1A9BA; border-radius: 50%; display: flex; justify-content: center; align-items: center;
                color: #A1A9BA; font-size: 24px; font-style: normal; font-weight: 700; line-height: normal;
                &.mint {color: #01C290; border: 4px solid #01C290;}
                &.blue {color: #3569E7; border: 4px solid #3569E7;}
                &.orange {color: #FF5C4A; border: 4px solid #FF5C4A;}
                &.gray {color: #A1A9BA; border: 4px solid #A1A9BA;}
            }
            .date {
                color: #757575; font-size: 14px; font-style: normal; font-weight: 400; line-height: normal;
            }
            .btnDel {
                width: 24px; height: 24px; font-size: 0; border: 0; background: url(../../common/images/iwms/ic_24_mark_del.svg) center no-repeat;
                position: absolute; top: 0; right: 0;
            }
        }
        .btnNameDel {
            width: 19px; height: 19px; margin-left: 5px; font-size: 0; border: 0; 
            background: url(../../common/images/iwms/ic_16_name_del.svg) center no-repeat; display: inline-block;
        }
        .btnNameSearch {
            width: 19px; height: 19px; font-size: 0; border: 0; position: absolute; top: 8px; right: 10px;
            background: url(../../common/images/iwms/ic_19_name_search.svg) center no-repeat; display: inline-block;
        }
    } 

    /* ----------------------------------------- 텍스트에어리어 기본 ----------------------------------------- */
    textArea {
        &::placeholder {color: #ccc;}
    }

    /* ----------------------------------------- 대시보드를 가지고 잇을 때 ----------------------------------------- */
    &.lytLayout .layoutContainer:has(.cptDashboard) {
        height: calc(100% - 110px);
        .layoutCont {
            height: 100%;
            .layoutContArea {
                height: 100%; padding: 0 0 0 40px; background: #F4F6FA; overflow-y: hidden;
            }
        }
    }

    /* --------------------------------------------------------------------------- */
    /* ------------------------ 추후 원본 css 수정 필요부분 ------------------------ */ 
    /* --------------------------------------------------------------------------- */
    .frmGroup {
        position: relative;
    }
    
    &.lytLayout .layoutContainer:has(.layoutNav) .layoutCont {
        width: calc(100% - 250px);
    }
    &.lytLayout .layoutContainer .layoutCont {
        width: 100%;
    }
    
}

html, body, .wrap, .lytLayout, .layoutArea {height: 100%;}


@import './comComment'; //중간 코멘트