/* -------------------- 유지보수 상세 -------------------- */
.modPopup:has(.cptRequestView) {
    .popCont {padding-right: 30px;}
}
.lytLayout .layoutContainer .layoutCont .layoutContArea:has(.cptRequestView) {
    padding-right: 30px;
}
.cptRequestView {
    width: 100%; height: calc(100vh - 250px); display: flex; gap: 30px;
    .questArea {
        width: 100%; display: flex; flex-wrap: wrap; align-content: flex-start; flex-grow: 1; flex-shrink: 1; background: #fff; overflow-y: auto; 
    }
    .workArea {
        width: 620px; padding-right: 10px; display: flex; flex-wrap: wrap; align-content: flex-start; flex-grow: 0; flex-shrink: 0;  overflow-y: auto; 
    }
    &.assign {
        .workArea {width: 540px;}
    }
    
    .state {
        width: 100%; margin-bottom: 12px; display: flex; flex-wrap: wrap; gap: 4px;
        .piece {
            width: max-content; height: 25px; padding: 0 6px; border-radius: 4px; color: #000; font-size: 14px; font-weight: 400; 
            line-height: 1; align-content: center; background: #EFF1F7;
            &.urgency {background: #FF5C4A; color: #FFF;}
        }
    }
    .title {
        width: 100%; color: #000; font-size: 30px; font-style: normal; font-weight: 500; line-height: 1.5;
    }
    .info {
        width: 100%; margin-top: 4px; display: flex;;
        .item {
            width: max-content; height: 20px; margin-left: 25px; color: #757575; font-size: 16px; font-weight: 400; line-height: 1; position: relative;
            &::before {
                content: ''; width: 1px; height: 14px; background: #ddd; display: block; position: absolute; left: -12px; top: 1px;
            }
            &:first-child {
                margin-left: 0;
                &::before {display: none;}
            }
        }
    }
    .requestTop {
        width: 100%; padding-bottom: 12px; margin-bottom: 30px; display: flex; justify-content: space-between; margin-top: 40px; border-bottom: 1px solid #000; 
        .alignL {
            width: 100%; display: flex; justify-content: flex-start; gap: 8px;
        }
        .alignR {
            width: 100%; display: flex; justify-content: flex-end; gap: 8px;
        }
    }
    .fileGroup {
        width: 100%; margin-bottom: 40px;
        &:last-child {margin-bottom: 0;}
    }
    .fileDown {
        width: 100%; min-height: 50px; margin-top: 8px; padding-left: 36px; border-radius: 6px; border: 1px solid #BBB; display: flex; 
        background:#FFF url(../../common/images/iwms/ic_16_attach.svg) left 15px center no-repeat;
        &:first-child {margin-top: 0;}
        .download {
            width: 100%; min-height: 48px; padding: 10px 37px 10px 0; color: #000; font-size: 16px; font-weight: 400; line-height: 1; display: block;
            background: url(../../common/images/iwms/ic_24_download.svg) right 13px center no-repeat; align-content: center; @include line1();
        }
    }
    .requestCont {
        width: 100%; padding: 0 0 60px; border-bottom: 1px solid #E1E5EF;

    }

    .progressGroup {
        width: 100%; 
        .progress {
            width: 100%; padding: 12px 16px; display: flex; justify-content: space-between; border-radius: 10px; background: #EFF5FF; align-items: center;
            .progTit {
                width: max-content; height: 100%; color: #000; font-size: 16px; font-weight: 500; line-height: 1;
            }
            .progCont {
                width: max-content;
                .mark {
                    width: max-content; min-height: 33px; padding: 0 20px; border-radius: 17px; display: block; align-content: center;
                    color: #FFF; font-size: 18px; font-style: normal; font-weight: 700; line-height: 1; background: #3569E7; 
                    &.blue {background: #3569E7;}
                    &.mint {background: #01C290;}
                    &.gray {background: #96A0B5;}
                }
            }
        }
    }
    .workBox {
        width: 100%; margin-top: 30px;
        .titleGroup {
            width: 100%; margin-bottom: 4px; display: flex; justify-content: space-between;
            .title {
                width: max-content; min-height: 35px; color: #000; font-size: 20px; font-style: normal; font-weight: 700; line-height: 35px;
            }
            .reload {
                width: max-content; min-height: 35px; padding-left: 18px; border: 0; background: url(../../common/images/iwms/ic_16_reload.svg) left center no-repeat;
                color: #6F7176; font-size: 14px; font-style: normal; font-weight: 400; line-height: 20px;
            }
            .infoTxt {
                width: max-content; min-height: 35px; color: #3569E7; font-size: 16px; font-style: normal; font-weight: 600; line-height: 1.5;
            }
        }
    }
    .commentsGroup {
        width: 100%; padding: 20px 16px 16px; border-radius: 10px; border: 1px solid #A1A9BA; background: #FFF;
        .commentBox {
            width: 100%; max-height: 360px; overflow-y: auto;
            &::-webkit-scrollbar {width: 10px; height: 12px;}
            &::-webkit-scrollbar-thumb {background: #aaa; border: 3px solid #fff; border-radius: 5px;}
            .cmtItem {
                width: 100%; margin-top: 12px; display: flex; flex-wrap: wrap;
                &:first-child {margin-top: 0;}
                &.me {
                    justify-content: flex-end;
                    .cmtTop {justify-content: flex-end;}
                    .cmtCont {max-width: 464px;}
                }
                .cmtTop {
                    width: 100%; max-width: 464px; display: flex; gap: 8px;
                    .profile {
                        width: 26px; height: 26px; border-radius: 50%; background: #EFF1F7;
                    }
                    .name {color: #000; font-size: 16px; font-style: normal; font-weight: 400; line-height: 26px;}
                    .date { color: #999; font-size: 12px; font-style: normal; font-weight: 400; line-height: 26px;}
                }
                .cmtCont {
                    width: max-content; max-width: 430px; margin-left: 34px; margin-top: 5px; padding: 8px 10px; border-radius: 10px; background: #F4F6FA;
                    .msg {
                        color: #333; font-size: 16px; font-style: normal; font-weight: 400; line-height: 1.6;
                    }
                    .fileDown {
                        min-height: 40px;
                        .download {min-height: 38px; padding: 4px 37px 4px 0;}
                    }
                }
            }
        }
        .registBox {
            width: 100%; margin-top: 12px; padding-top: 12px; border-top: 1px solid #DDD; display: flex; gap: 8px;
            .text {
                width: 100%; height: 35px; padding: 7px 10px; flex-grow: 1; flex-shrink: 1; border: 0; overflow: hidden;
            }
            .fileBox {
                width: 35px; height: 35px; border-radius: 50%; 
                background: #EFF1F7;
                .btnFile {
                    width: 100%; height: 100%; font-size: 0; display: block;
                    background: url(../../common/images/iwms/ic_16_attach.svg) center / 20px no-repeat;
                }
            }
            .btnRegist {
                width: max-content; height: 35px; padding: 0 30px; border: 0; border-radius: 6px; background: #0C1F2B;
                color: #FFF; font-size: 16px; font-style: normal; font-weight: 500; white-space: nowrap;
            }
        }
    }
    .progDetailsGroup {
        width: 100%; padding: 16px 3px 16px 16px; border-radius: 6px; background: #F4F6FA; 
        .progList {
            width: 100%; max-height: 140px; padding-right: 7px; display: flex; flex-wrap: wrap; gap: 8px; overflow-y: auto;
            &::-webkit-scrollbar {width: 10px; height: 12px;}
            &::-webkit-scrollbar-thumb {background: #aaa; border: 3px solid #F4F6FA; border-radius: 5px;}
            .progItem {
                width: 100%; padding: 3px 10px; border-radius: 6px; border: 1px solid #FFF; background: #FFF;
                &:hover {
                    border: 1px solid #3569E7; box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
                }
                .more {width: 100%; display: flex; align-items: center;}
                .profile {width: 26px; height: 26px; border-radius: 13px; background: #EFF1F7;}
                .name {margin-left: 8px; color: #000; font-size: 16px; font-style: normal; font-weight: 400; line-height: 1;}
                .workStatus {margin-left: 40px; color: #000; font-size: 16px; font-style: normal; font-weight: 500; line-height: 1;}
                .date {margin-left: 8px; color: #999; font-size: 14px; font-style: normal; font-weight: 400; line-height: 1;}
            }
        }
    }
    .historyGroup {
        width: 100%; padding: 16px; border-radius: 6px; background: #F4F6FA; 
        .human {
            width: 100%; padding: 3px 10px; border-radius: 6px; border: 1px solid #FFF; background: #FFF; display: flex; align-items: center;
            .manager {color: #000; font-size: 16px; font-style: normal; font-weight: 400; line-height: 1;}
            .profile {margin-left: 8px; width: 26px; height: 26px; border-radius: 13px; background: #EFF1F7;}
            .name {margin-left: 8px; color: #000; font-size: 16px; font-style: normal; font-weight: 400; line-height: 1;}
            .team {
                margin-left: 26px; color: #999; font-size: 14px; font-style: normal; font-weight: 400; line-height: 1; display: block; position: relative;
                &::before {content:""; width: 2px; height: 14px; background: #ddd; display: block; position: absolute; left: -12px; top: 0px;}
            }
        }
        .time {margin-top: 12px; color: #3569E7; font-size: 16px; font-style: normal; font-weight: 400; line-height: 26px;}
        .msg {margin-top: 4px; padding-bottom: 12px; color: #333; font-size: 16px; font-style: normal; font-weight: 400; line-height:1.5;}
        .btnArea {
            width: 100%; margin-top: 12px; padding-top: 12px; border-top: 1px solid #ddd; display: flex; justify-content: flex-end;
        }
    }
    .typeSelect {
        width: 100%;
    }
    .managerGroup {
        width: 100%; max-height: 158px; display: flex; justify-content: space-between; gap: 8px;
        .sltBox {
            width: 50%; max-height: 158px; border: 1px solid #BBB; border-radius: 4px; overflow: auto;
            .sltItem {
                .iptRdo {

                    &:checked + .rdoLbl {color: #3569E7; background:#F7F9FF url(../../common/images/iwms/ic_slt_manager.svg) right 12px center no-repeat;}
                }
                .rdoLbl {
                    width: 100%; height: 39px; padding: 10px; color: #333; font-size: 16px; font-style: normal; font-weight: 400; line-height: 18px; display: block;
                }
                .iptChk {
                    &:checked + .chkLbl {color: #3569E7; background:#F7F9FF url(../../common/images/iwms/ic_19_chk_on.svg) 10px center no-repeat;}
                }
                .chkLbl {
                    width: 100%; height: 39px; padding: 10px 10px 10px 33px; color: #333; font-size: 16px; font-style: normal; font-weight: 400; 
                    line-height: 18px; display: block; background: url(../../common/images/iwms/ic_19_chk_off.svg) 10px center no-repeat;
                }
            }
        }
    }
    .workGroup {
        width: 100%;
        .writeBox {
            width: 100%;
            .writeItem {
                width: 100%; margin-top: 8px; padding: 12px 16px; border-radius: 10px; background: #F4F6FA;
                &:first-child {margin-top: 0;}
                .infoBox {
                    width: 100%; display: flex; justify-content: space-between;
                    .human {
                        width: max-content; height: 35px; display: flex;
                        .name {
                            color: #000; font-size: 16px; font-style: normal; font-weight: 500; line-height: 1.5; display: block; align-content: center;
                        }
                        .team {
                            margin-left: 26px; color: #757575; font-size: 16px; font-style: normal; font-weight: 400; line-height: 1.5; display: block; position: relative; align-content: center;
                            &::before {content:""; width: 2px; height: 14px; background: #ddd; display: block; position: absolute; left: -14px; top: 10px;}
                        }
                    }
                    .time {
                        width: 107px;
                    }
                }
                .msgBox {
                    width: 100%; margin-top: 8px;
                    .msg {
                        width: 100%; height: 64px; padding: 8px 10px; color: #333; font-size: 16px; font-style: normal; font-weight: 400; line-height: 1.5;
                        background: #FFF;
                        &::placeholder {color: #CCC;}
                    }
                }
            }
        }
    }

    .btn {
        min-width:max-content; padding:0 30px; height: 35px; margin-left:0; font-size: 16px; font-weight: 500; white-space: nowrap; line-height: 1;
        border-radius: 6px; display: flex; align-items: center;
    }
}
