
<%- include('../../layout/iwms/header.ejs', {
    theme: "iwms",
    depth: "depth02",
    url: "../../../"
}) %>

                    <!-- 컨텐츠 내용 -->
                    <div class="layoutContArea">
                        
                        <!-- h2 타이틀 -->
                        <div class="comH2Group">
                            <div class="alignL">
                                <h2>결재</h2>
                            </div>
                            <div class="alignR">
                                <ul class="locaGroup">
                                    <li class="item">HOME</li>
                                    <li class="item">전자결재</li>
                                    <li class="item">진행문서</li>
                                    <li class="item">결재</li>
                                </ul>
                            </div>
                        </div>

                        <div class="cptSearchArea">
                            <table>
                                <caption></caption>
                                <colgroup>
                                    <col style="width:150px;">
                                    <col style="width:auto;">
                                    <col style="width:150px;">
                                    <col style="width:auto;">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th>검색어 입력</th>
                                        <td>
                                            <div class="frmGroup">
                                                <input type="text" class="iptText" placeholder="문서명 또는 기안자를 입력해주세요.">
                                            </div>
                                        </td>
                                        <td colspan="2" class="right">
                                            <button class="btnSearch">검색</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="grpComponent">
                            <div class="cptGroupTop">
                                <div class="alignL">
                                    <div class="unit"><span class="draft">결재</span><span class="text"><span class="total bold txtBlue">17</span>건</span></div>
                                    <div class="unit"><span class="text">전체 <span class="total bold">17</span>건</span></div>
                                </div>
                                <div class="alignR">
                                    <div class="comSideOpt">
                                        <ul class="opList">
                                            <li class="item">
                                                <div class="frmGroup">
                                                    <select name="" id="" class="iptSlt">
                                                        <option value="">10개씩 보기</option>
                                                    </select>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="cptGrid">
                                <table class="gridTb">
                                    <colgroup>
                                        <col style="width:140px;">
                                        <col style="width:320px;">
                                        <col style="width:auto;">
                                        <col style="width:100px;">
                                        <col style="width:100px;">
                                        <col style="width:140px;">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>기안일자</th>
                                            <th>문서번호</th>
                                            <th>제목</th>
                                            <th>기안자</th>
                                            <th>상태</th>
                                            <th>처리일자</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>2025-04-23</td>
                                            <td>IWI-팀명-품의서-YYYY-MM-DD-0001</td>
                                            <td class="left">
                                                <div class="title">
                                                    <a href="#" class="link">전자결재 문서제목입니다 전자결재 문서제목입니다 전자결재 문서제목입니다 전자결재 문서제목입니다 전자결재 문서제목입니다 전자결재 문서제목입니다 전자결재 문서제목입니다 전자결재 문서제목입니다.</a>
                                                    <span class="icons">
                                                        <span class="read">(16)</span>
                                                        <span class="icon file">파일첨부</span>
                                                    </span>
                                                </div>
                                            </td>
                                            <td>고윤영</td>
                                            <td>
                                                <span class="text blue">대기</span>
                                            </td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td>2025-04-23</td>
                                            <td>IWI-팀명-품의서-YYYY-MM-DD-0001</td>
                                            <td class="left">전자결재 문서제목입니다.</td>
                                            <td>고윤영</td>
                                            <td>
                                                <span class="text blue">대기</span>
                                            </td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td>2025-04-23</td>
                                            <td>IWI-팀명-품의서-YYYY-MM-DD-0001</td>
                                            <td class="left">전자결재 문서제목입니다.</td>
                                            <td>고윤영</td>
                                            <td>
                                                <span class="text blue">대기</span>
                                            </td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td>2025-04-23</td>
                                            <td>IWI-팀명-품의서-YYYY-MM-DD-0001</td>
                                            <td class="left">전자결재 문서제목입니다.</td>
                                            <td>고윤영</td>
                                            <td>
                                                <span class="text gray">승인</span>
                                            </td>
                                            <td>2025-04-23</td>
                                        </tr>
                                        <tr>
                                            <td>2025-04-23</td>
                                            <td>IWI-팀명-품의서-YYYY-MM-DD-0001</td>
                                            <td class="left">전자결재 문서제목입니다.</td>
                                            <td>고윤영</td>
                                            <td>
                                                <span class="text gray">승인</span>
                                            </td>
                                            <td>2025-04-23</td>
                                        </tr>
                                        <tr>
                                            <td>2025-04-23</td>
                                            <td>IWI-팀명-품의서-YYYY-MM-DD-0001</td>
                                            <td class="left">전자결재 문서제목입니다.</td>
                                            <td>고윤영</td>
                                            <td>
                                                <span class="text black">진행</span>
                                            </td>
                                            <td>2025-04-23</td>
                                        </tr>
                                        <tr>
                                            <td>2025-04-23</td>
                                            <td>IWI-팀명-품의서-YYYY-MM-DD-0001</td>
                                            <td class="left">전자결재 문서제목입니다.</td>
                                            <td>고윤영</td>
                                            <td>
                                                <span class="text black">진행</span>
                                            </td>
                                            <td>2025-04-23</td>
                                        </tr>
                                        <tr>
                                            <td>2025-04-23</td>
                                            <td>IWI-팀명-품의서-YYYY-MM-DD-0001</td>
                                            <td class="left">전자결재 문서제목입니다.</td>
                                            <td>고윤영</td>
                                            <td>
                                                <span class="text gray">확인</span>
                                            </td>
                                            <td>2025-04-23</td>
                                        </tr>
                                        <tr>
                                            <td>2025-04-23</td>
                                            <td>IWI-팀명-품의서-YYYY-MM-DD-0001</td>
                                            <td class="left">전자결재 문서제목입니다.</td>
                                            <td>고윤영</td>
                                            <td>
                                                <span class="text gray">확인</span>
                                            </td>
                                            <td>2025-04-23</td>
                                        </tr>
                                        <tr>
                                            <td>2025-04-23</td>
                                            <td>IWI-팀명-품의서-YYYY-MM-DD-0001</td>
                                            <td class="left">전자결재 문서제목입니다.</td>
                                            <td>고윤영</td>
                                            <td>
                                                <span class="text orange">반려</span>
                                            </td>
                                            <td>2025-04-23</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- paging -->
                            <div class="comPaging">
                                <a class="start" href="#"></a>
                                <a class="prev" href="#"></a>
                                <ul class="numList">
                                    <li><a href="#">1</a></li>
                                    <li class="on"><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">6</a></li>
                                    <li><a href="#">7</a></li>
                                    <li><a href="#">8</a></li>
                                    <li><a href="#">9</a></li>
                                    <li><a href="#">10</a></li>
                                </ul>
                                <a class="next" href="#"></a>
                                <a class="end" href="#"></a>
                            </div>

                        </div>

                    </div>
                    <!-- //컨텐츠 내용 -->

<%- include('../../layout/iwms/bottom.ejs', {
    url: "../../../"
}) %>