<%- include('../../layout/iwms/header.ejs', {
    theme: "iwms",
    depth: "depth02",
    url: "../../../"
}) %>

                    <!-- 컨텐츠 내용 -->
                    <div class="layoutContArea">

                        <!-- h2 타이틀 -->
                        <div class="comH2Group">
                            <div class="alignL">
                                <h2>작성하기</h2>
                            </div>
                            <div class="alignR">
                                <ul class="locaGroup">
                                    <li class="item">HOME</li>
                                    <li class="item">전자결재</li>
                                    <li class="item">작성하기</li>
                                </ul>
                            </div>
                        </div>

                        <div class="comSmTit">
                            <div class="alignL">
                                <div class="title">기본설정</div>
                            </div>
                        </div>
                        <div class="cptTable">
                            <table class="tbView">
                                <colgroup>
                                    <col style="width:140px;">
                                    <col style="width:auto;">
                                    <col style="width:140px;">
                                    <col style="width:auto;">
                                </colgroup>
                                <caption></caption>
                                <tbody>
                                    <tr>
                                        <th>문서종류</th>
                                        <td>
                                            <div class="frmGroup frmXl">
                                                <select name="" id="" class="iptSlt ">
                                                    <option value="">선택</option>
                                                    <option value=""></option>
                                                </select>
                                            </div>
                                        </td>
                                        <th>문서설명</th>
                                        <td>사내 업무관계로 출장업무에 대한 신청</td>
                                    </tr>
                                    <tr>
                                        <th>합의사항</th>
                                        <td>PM 합의 필요</td>
                                        <th>결재선</th>
                                        <td>이사, 대표</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="comSmTit">
                            <div class="alignL">
                                <div class="title">결재선</div>
                            </div>
                        </div>
                        <div class="cptTable">
                            <table class="tbView">
                                <colgroup>
                                    <col style="width:auto;">
                                    <col style="width:auto;">
                                    <col style="width:auto;">
                                    <col style="width:auto;">
                                    <col style="width:auto;">
                                    <col style="width:auto;">
                                    <col style="width:auto;">
                                    <col style="width:auto;">
                                </colgroup>
                                <caption></caption>
                                <thead>
                                    <tr>
                                        <th>기안</th>
                                        <th>합의</th>
                                        <th colspan="3">결재</th>
                                        <th colspan="3">참조</th>
                                    </tr>
                                    <tr>
                                        <th>과장</th>
                                        <th>차장</th>
                                        <th></th>
                                        <th>이사</th>
                                        <th>대표</th>
                                        <th>차장</th>
                                        <th>이사</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="center">
                                            <dl class="inApproval">
                                                <dt>
                                                    <span class="mark mint">기안</span>
                                                </dt>
                                                <dd>
                                                    <span class="date">2025-04-25 13:30</span>
                                                </dd>
                                            </dl>
                                        </td>
                                        <td class="center">
                                            <dl class="inApproval">
                                                <dt>
                                                    <span class="mark blue">승인</span>
                                                </dt>
                                                <dd>
                                                    <span class="date">2025-04-25 13:30</span>
                                                </dd>
                                            </dl>
                                        </td>
                                        <td class="center">
                                            <dl class="inApproval">
                                                <dt>
                                                    <span class="mark blue">승인</span>
                                                </dt>
                                                <dd>
                                                    <span class="date">2025-04-25 13:30</span>
                                                </dd>
                                            </dl>
                                        </td>
                                        <td class="center">
                                            <dl class="inApproval">
                                                <dt>
                                                    <span class="mark orange">반려</span>
                                                    <button type="button" class="btnDel">취소</button>
                                                </dt>
                                                <dd>
                                                    <span class="date">2025-04-25 13:30</span>
                                                </dd>
                                            </dl>
                                        </td>
                                        <td class="center">
                                            <button class="gridBtn dkBlue">결재</button>
                                        </td>
                                        <td class="center">
                                            <dl class="inApproval">
                                                <dt>
                                                    <span class="mark gray">확인</span>
                                                </dt>
                                                <dd>
                                                    <span class="date">2025-04-25 13:30</span>
                                                </dd>
                                            </dl>
                                        </td>
                                        <td class="center">
                                            <button class="gridBtn dkbLine">확인</button>
                                        </td>
                                        <td class="center"></td>
                                    </tr>
                                    <tr>
                                        <td class="center">고윤영</td>
                                        <td class="center">정형호<button type="button" class="btnNameDel">삭제</button></td>
                                        <td class="center">
                                            <div class="frmGroup">
                                                <input type="text" class="iptText">
                                                <button type="button" class="btnNameSearch">찾기</button>
                                            </div>
                                        </td>
                                        <td class="center">김형주</td>
                                        <td class="center">이창수</td>
                                        <td class="center">이도경</td>
                                        <td class="center">김재인</td>
                                        <td class="center">
                                            <div class="frmGroup">
                                                <input type="text" class="iptText">
                                                <button type="button" class="btnNameSearch">찾기</button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <i class="pointText">합의결재로 지정된 결재문서는 합의 [승인]처리가 되어야 이후 결재자에게 전달이 됩니다.</i>
                        </div>

                        <div class="comSmTit">
                            <div class="alignL">
                                <div class="title">결재내용</div>
                            </div>
                        </div>
                        <div class="cptTable">
                            <table class="tbView">
                                <colgroup>
                                    <col style="width:140px;">
                                    <col style="width:auto;">
                                </colgroup>
                                <caption></caption>
                                <tbody>
                                    <tr>
                                        <th class="left">제목<span class="required">*</span></th>
                                        <td colspan="3" class="left">
                                            <div class="frmGroup"><input type="text" class="iptText"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="left">내용</th>
                                        <td colspan="3" class="left" style="height: 500px;">
                                            <!-- 에디터영역 -->
                                            <textarea class="textArea" style="height: 500px;">에디터영역</textarea>
                                            <!-- //에디터영역 -->
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="left">별첨</th>
                                        <td colspan="3" class="left">
                                            <div class="frmGroup">
                                                <div class="fileBox">
                                                    <div class="fileBefore">
                                                        <label for="uploadBtn1" class="gridBtn dkbLine">파일선택</label>
                                                        <input type="file" id="uploadBtn1" class="uploadBtn">
                                                    </div>
                                                    <div class="fileAfter">
                                                        <div class="textBox"></div>
                                                        <button type="button" class="fileDel">삭제</button>
                                                    </div>
                                                </div>
                                                <button type="button" class="gridBtn minus">파일삭제</button>
                                                <button type="button" class="gridBtn plus">파일추가</button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="cptGroupBtm alignC">
                            <div class="comSideOpt">
                                <button type="button" class="crudBtn gLine">취소</button>
                                <button type="button" class="crudBtn dkBlue">기안하기</button>
                            </div>
                        </div>

                    </div>
                    <!-- //컨텐츠 내용 -->

                    <!-- 팝업영역 -->
                    <div id="sample01" class="modPopup md on"> <!-- class - md : 중간 팝업, on : 팝업오픈 -->
                        <div class="popupDim">딤영역</div>
                        <div class="popupArea"> <!-- style - 너비값(width), 높이값(height) : 팝업 너비 및 높이 지정 -->
                            <div class="popupInMotion">
                                <div class="popupContainer">
                                    <div class="popupContArea">
                                        <button type="button" class="btnPopClose" onclick="closePopup('sample01');">닫기</button>
                                        <div class="popTitle">결재선 설정</div>
                                        <div class="popCont">
                                            
                                            <!-- 팝업 컨텐츠 영역 -->
                                            <div class="cptApprovalSetting">
                                                <div class="approvalTeamList">
                                                    <ul class="approvalGroup">
                                                        <li class="apprItem">
                                                            <button class="nameTeam plus">아이웍스인터렉티브 <b>(37)</b></button>
                                                            <ul class="approvalGroup">
                                                                <li class="apprItem">
                                                                    <button class="nameTeam plus">경영지원본부 <b>(3)</b></button>

                                                                    <ul class="approvalGroup">
                                                                        <li class="apprItem"><button class="nameTeam">본부1 <b>(2)</b></button></li>
                                                                        <li class="apprItem"><button class="nameTeam">본부2 <b>(1)</b></button></li>
                                                                    </ul>

                                                                </li>
                                                                <li class="apprItem">
                                                                    <button class="nameTeam plus">전략사업본부 <b>(8)</b></button>

                                                                    <ul class="approvalGroup">
                                                                        <li class="apprItem"><button class="nameTeam">본부1 <b>(2)</b></button></li>
                                                                        <li class="apprItem"><button class="nameTeam">본부2 <b>(3)</b></button></li>
                                                                        <li class="apprItem"><button class="nameTeam">본부3 <b>(3)</b></button></li>
                                                                    </ul>

                                                                </li>
                                                                <li class="apprItem">
                                                                    <button class="nameTeam minus">전보사업본부 <b>(26)</b></button>

                                                                    <ul class="approvalGroup">
                                                                        <li class="apprItem"><button class="nameTeam">전략기획팀 <b>(3)</b></button></li>
                                                                        <li class="apprItem"><button class="nameTeam on">디자인팀 <b>(3)</b></button></li>
                                                                        <li class="apprItem"><button class="nameTeam">UI개발팀 <b>(3)</b></button></li>
                                                                        <li class="apprItem"><button class="nameTeam">개발팀 <b>(16)</b></button></li>
                                                                    </ul>

                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <script>
                                                    function approvalToggle(){
                                                        document.querySelectorAll('.approvalTeamList .nameTeam').forEach(function (button) {
                                                            button.addEventListener('click', function () {
                                                                // .on 클래스가 있는 다른 버튼에서 제거
                                                                document.querySelectorAll('.approvalTeamList .nameTeam.on').forEach(function (btn) {
                                                                    btn.classList.remove('on');
                                                                });
                                                    
                                                                // 현재 버튼에 .plus 또는 .minus가 있는지 확인
                                                                if (this.classList.contains('plus')) {
                                                                    this.classList.remove('plus');
                                                                    this.classList.add('minus');
                                                                } else if (this.classList.contains('minus')) {
                                                                    this.classList.remove('minus');
                                                                    this.classList.add('plus');
                                                                } else {
                                                                    // .plus 또는 .minus가 없으면 .on 클래스 추가
                                                                    this.classList.add('on');
                                                                }
                                                            });
                                                        });
                                                    }
                                                    approvalToggle();
                                                </script>
                                                <div class="approvalNameList">
                                                    <ul class="frmChoList vertical">
                                                        <li class="frmChoBox"><input id="chk101" type="checkbox" class="iptChk"><label for="chk101" class="iptLbl">송민아 과장 <span class="team">(디자인팀)</span></label></li>
                                                        <li class="frmChoBox"><input id="chk102" type="checkbox" class="iptChk"><label for="chk102" class="iptLbl">권진주 대리 <span class="team">(디자인팀)</span></label></li>
                                                        <li class="frmChoBox"><input id="chk103" type="checkbox" class="iptChk"><label for="chk103" class="iptLbl">고윤영 과장 <span class="team">(디자인팀)</span></label></li>
                                                        <li class="frmChoBox"><input id="chk104" type="checkbox" class="iptChk"><label for="chk104" class="iptLbl">홍길동 주임 <span class="team">(디자인팀)</span></label></li>
                                                    </ul>
                                                </div>
                                                <div class="approvalChoiceList">
                                                    <div class="choiceGroup">
                                                        <div class="inOutBox">
                                                            <button type="button" class="btnIn">포함</button>
                                                            <button type="button" class="btnOut">미포함</button>
                                                        </div>
                                                        <div class="listGroup">
                                                            <div class="listTitle">
                                                                <b>합의</b>
                                                                <div class="upDownBox">
                                                                    <button type="button" class="btnUp">위로 이동</button>
                                                                    <button type="button" class="btnDown">아래로 이동</button>
                                                                </div>
                                                            </div>
                                                            <div class="listBox">
                                                                <ul class="frmChoList vertical">
                                                                    <li class="frmChoBox"><input id="chk201" type="checkbox" class="iptChk"><label for="chk201" class="iptLbl">정형호 차장 <span class="team">(개발팀)</span></label></li>
                                                                    <li class="frmChoBox"><input id="chk202" type="checkbox" class="iptChk"><label for="chk202" class="iptLbl">김형주 이사 <span class="team">(대회사업팀)</span></label></li>
                                                                    <li class="frmChoBox"><input id="chk203" type="checkbox" class="iptChk"><label for="chk203" class="iptLbl">이창수 대표 <span class="team">(경영지원팀)</span></label></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="choiceGroup">
                                                        <div class="inOutBox">
                                                            <button type="button" class="btnIn">포함</button>
                                                            <button type="button" class="btnOut">미포함</button>
                                                        </div>
                                                        <div class="listGroup">
                                                            <div class="listTitle">
                                                                <b>합의</b>
                                                                <div class="upDownBox">
                                                                    <button type="button" class="btnUp">위로 이동</button>
                                                                    <button type="button" class="btnDown">아래로 이동</button>
                                                                </div>
                                                            </div>
                                                            <div class="listBox">
                                                                <ul class="frmChoList vertical">
                                                                    <li class="frmChoBox"><input id="chk301" type="checkbox" class="iptChk"><label for="chk301" class="iptLbl">김형주 이사 <span class="team">(대회사업팀)</span></label></li>
                                                                    <li class="frmChoBox"><input id="chk302" type="checkbox" class="iptChk"><label for="chk302" class="iptLbl">이창수 대표 <span class="team">(경영지원팀)</span></label></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="choiceGroup">
                                                        <div class="inOutBox">
                                                            <button type="button" class="btnIn">포함</button>
                                                            <button type="button" class="btnOut">미포함</button>
                                                        </div>
                                                        <div class="listGroup">
                                                            <div class="listTitle">
                                                                <b>참조</b>
                                                                <div class="upDownBox">
                                                                    <button type="button" class="btnUp">위로 이동</button>
                                                                    <button type="button" class="btnDown">아래로 이동</button>
                                                                </div>
                                                            </div>
                                                            <div class="listBox">
                                                                <ul class="frmChoList vertical">
                                                                    <li class="frmChoBox"><input id="chk401" type="checkbox" class="iptChk"><label for="chk401" class="iptLbl">이도경 차장 <span class="team">(경영지원팀)</span></label></li>
                                                                    <li class="frmChoBox"><input id="chk402" type="checkbox" class="iptChk"><label for="chk402" class="iptLbl">김재인 이사 <span class="team">(경영지원팀)</span></label></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- //팝업 컨텐츠 영역 -->
                    
                                        </div>
                                        <!-- 팝업 버튼 영역 -->
                                        <div class="popBtm">
                                            <div class="alignR">
                                                <button type="button" class="btn gLine">취소</button>
                                                <button type="button" class="btn dkBlue">확인</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //팝업영역 -->

<%- include('../../layout/iwms/bottom.ejs', {
    url: "../../../"
}) %>