<%- include('../layout/iwms/header.ejs', {
    theme: "iwms",
    url: "../../",
    navContain: "false"
}) %>

                    <!-- 컨텐츠 내용 -->
                    <div class="layoutContArea">

                        <div class="cptDashboard">
                            <div class="infoArea">
                                <div class="profileGroup">
                                    <div class="profile">
                                        <div class="photo">
                                            <img src="../../common/images/iwms/ic_24_user.svg" alt="">
                                        </div>
                                        <div class="name">
                                            <b>고윤영</b>님
                                        </div>
                                    </div>
                                    <ul class="infoBox">
                                        <li class="infoItem">
                                            <span class="tit">소속 : </span>
                                            <span class="desc">아이웍스인터렉티브</span>
                                        </li>
                                        <li class="infoItem">
                                            <span class="tit">직급 : </span>
                                            <span class="desc">과장</span>
                                        </li>
                                        <li class="infoItem">
                                            <span class="tit">최근 로그인 날짜 : </span>
                                            <span class="desc">2025-04-30 AM 09:30:00</span>
                                        </li>
                                    </ul>
                                    <button class="setting">세팅</button>
                                    <button class="logout">로그아웃</button>
                                </div>
                                <div class="dashTitle">
                                    <h3>나의 업무 현황</h3>
                                </div>
                                <ul class="dashBox">
                                    <li class="dashItem">
                                        <a href="" class="link">
                                            <span class="name">요청</span>
                                            <span class="num">15</span>
                                        </a>
                                    </li>
                                    <li class="dashItem blue">
                                        <a href="" class="link">
                                            <span class="name">접수</span>
                                            <span class="num">9</span>
                                        </a>
                                    </li>
                                    <li class="dashItem">
                                        <a href="" class="link">
                                            <span class="name">처리중</span>
                                            <span class="num">3</span>
                                        </a>
                                    </li>
                                    <li class="dashItem mint">
                                        <a href="" class="link">
                                            <span class="name">처리완료</span>
                                            <span class="num">6</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="graphArea">
                                <div class="diviGroup">
                                    <div class="graphGroup">
                                        <div class="dashTitle">
                                            <h3>프로젝트별 업무 통계</h3>
                                        </div>
                                        <div class="graphBox">
                                            <!-- 그래프 영역 -->
                                            <img src="../../common/images/temp/graph_ex02.png" alt="">
                                        </div>
                                    </div>
                                    <div class="notiGroup">
                                        <div class="dashTitle">
                                            <h3>공지사항</h3>
                                            <div class="other">
                                                <a href="" class="more">더 보기</a>
                                            </div>
                                        </div>
                                        <div class="notiBox">
                                            <ul class="notiList">
                                                <li class="notiItem">
                                                    <a href="#" class="link">
                                                        <div class="notiTitle">홈페이지 이용안내 홈페이지 이용안내 홈페이지 이용안내 홈페이지 이용안내 홈페이지 이용안내
                                                            <span class="new">new</span>
                                                        </div>
                                                        <div class="notiDate">2025-04-14</div>
                                                    </a>
                                                </li>
                                                <li class="notiItem">
                                                    <a href="#" class="link">
                                                        <div class="notiTitle">홈페이지 이용안내</div>
                                                        <div class="notiDate">2025-04-14</div>
                                                    </a>
                                                </li>
                                                <li class="notiItem">
                                                    <a href="#" class="link">
                                                        <div class="notiTitle">홈페이지 이용안내</div>
                                                        <div class="notiDate">2025-04-14</div>
                                                    </a>
                                                </li>
                                                <li class="notiItem">
                                                    <a href="#" class="link">
                                                        <div class="notiTitle">홈페이지 이용안내</div>
                                                        <div class="notiDate">2025-04-14</div>
                                                    </a>
                                                </li>
                                                <li class="notiItem">
                                                    <a href="#" class="link">
                                                        <div class="notiTitle">홈페이지 이용안내</div>
                                                        <div class="notiDate">2025-04-14</div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="graphGroup">
                                    <div class="dashTitle">
                                        <h3>월별 작업 현황</h3>
                                    </div>
                                    <div class="graphBox">
                                        <!-- 그래프 영역 -->
                                        <img src="../../common/images/temp/graph_ex03.png" alt="">
                                    </div>
                                </div>
                                <div class="graphGroup">
                                    <div class="dashTitle">
                                        <h3>월별 업무 통계<i class="cmt">(H/M)</i></h3>
                                    </div>
                                    <div class="graphBox">
                                        <!-- 그래프 영역 -->
                                        <ul class="workTime">
                                            <li class="timeItem dkBlue">
                                                <div class="tit">계획공수</div>
                                                <div class="line">
                                                    <div class="bar" style="width: 50%;">50%</div>
                                                </div>
                                                <div class="time"><b>46</b>시간</div>
                                            </li>
                                            <li class="timeItem blue">
                                                <div class="tit">실제공수</div>
                                                <div class="line">
                                                    <div class="bar" style="width: 80%;">80%</div>
                                                </div>
                                                <div class="time"><b>84</b>시간</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <!-- //컨텐츠 내용 -->

<%- include('../layout/iwms/bottom.ejs', {
    url: "../../"
}) %>