<%- include('../../layout/iwms/header.ejs', {
    theme: "iwms",
    url: "../../../"
}) %>

                    <!-- 컨텐츠 내용 -->
                    <div class="layoutContArea">

                        <div class="cptRequestView">
                            <div class="questArea">
                                <ul class="state">
                                    <li class="piece urgency">긴급</li>
                                    <li class="piece">국민체육진흥공단</li>
                                    <li class="piece">신규개발</li>
                                </ul>

                                <div class="title">2025 국민체육진흥공단 마이페이지 요청드립니다.</div>
                                
                                <ul class="info">
                                    <li class="item">요구사항 번호 : R23-011020</li>
                                    <li class="item">요청자 : 김경민</li>
                                    <li class="item">등록일자 : 2025.04.07</li>
                                </ul>

                                <div class="requestTop">
                                    <div class="alignL">
                                        <button type="button" class="btn oLine">반려</button>
                                        <button type="button" class="btn gLine">협의요청</button>
                                        <button type="button" class="btn blue">합의</button>
                                    </div>
                                    <div class="alignR">
                                        <button type="button" class="btn oLine">요청취소</button>
                                        <button type="button" class="btn blue">수정</button>
                                        <button type="button" class="btn dkbLine">목록</button>
                                    </div>
                                </div>

                                <ul class="fileGroup">
                                    <li class="fileDown">
                                        <a href="#" class="download">[국민체육진흥공단]마이페이지수정사항요청건1.hwp</a>
                                    </li>
                                    <li class="fileDown">
                                        <a href="#" class="download">[국민체육진흥공단]마이페이지수정사항요청건1.hwp</a>
                                    </li>
                                </ul>

                                <div class="requestCont">
                                    <!-- 요청사항 컨텐츠 영역 -->
                                    <p style="font-size: 16px;">
                                        안녕하세요.
                                        <br>유선상으로 수정요청사항 전달 드렸습니다.
                                        <br>내용은
                                        <br>붙혀 주신 아이콘에 기존 윤곽선을 살려서 적용해달라는 내용입니다.
                                        <br>지난번에 보내 드린 파일 중
                                        <br>개인정보 처리방침 작성지침 (공공기관편) pdf 파일의 19페이지를 보시면
                                        <br>윤곽선에 관한 내용이 나오니 참고 부탁드립니다.
                                        <br>수정 후 회신주세요.
                                        <br>
                                        <br>감사합니다.
                                    </p>
                                </div>
                            </div>
                            <div class="workArea">
                                <div class="progressGroup">
                                    <dl class="progress">
                                        <dt class="progTit">진행상태</dt>
                                        <dd class="progCont">
                                            <span class="mark blue">접수</span>
                                            <!-- 
                                            <span class="mark blue">처리중</span>
                                            <span class="mark mint">처리완료</span>
                                            <span class="mark gray">검수완료</span> 
                                            -->
                                        </dd>
                                    </dl>
                                </div>
                                <div class="workBox">
                                    <div class="titleGroup">
                                        <div class="title">댓글</div>
                                        <button class="reload">새로고침</button>
                                    </div>
                                    <div class="commentsGroup">
                                        <div class="commentBox">
                                            <div class="cmtItem">
                                                <div class="cmtTop">
                                                    <img src="../../../common/images/iwms/ic_24_user.svg" alt="" class="profile">
                                                    <span class="name">정형호</span>
                                                    <span class="date">2025-04-07 13:00:00</span>
                                                </div>
                                                <div class="cmtCont">
                                                    <span class="msg">첨부파일이 열리지 않습니다. 확인 후 댓글로 재전달 부탁드립니다.</span>
                                                </div>
                                            </div>
                                            <div class="cmtItem">
                                                <div class="cmtTop">
                                                    <img src="../../../common/images/iwms/ic_24_user.svg" alt="" class="profile">
                                                    <span class="name">정형호</span>
                                                    <span class="date">2025-04-07 13:00:00</span>
                                                </div>
                                                <div class="cmtCont">
                                                    <span class="msg">죄송합니다. 해당파일 다시 전달드립니다.</span>
                                                    <div class="fileDown">
                                                        <a href="#" class="download">[국민체육진흥공단]마이페이지수정사항마이페이지수정사항</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cmtItem">
                                                <div class="cmtTop">
                                                    <img src="../../../common/images/iwms/ic_24_user.svg" alt="" class="profile">
                                                    <span class="name">정형호</span>
                                                    <span class="date">2025-04-07 13:00:00</span>
                                                </div>
                                                <div class="cmtCont">
                                                    <span class="msg">위에 문서 확인 후 작업 진행 부탁드립니다.</span>
                                                </div>
                                            </div>
                                            <div class="cmtItem me">
                                                <div class="cmtTop">
                                                    <span class="date">2025-04-07 13:00:00</span>
                                                </div>
                                                <div class="cmtCont">
                                                    <span class="msg">네, 확인하였습니다.</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="registBox">
                                            <textarea class="text" placeholder="메시지를 입력하세요."></textarea>
                                            <div class="fileBox">
                                                <label for="uploadBtn1" class="btnFile">파일선택</label>
                                                <input type="file" id="uploadBtn1" class="uploadBtn">
                                            </div>
                                            <button type="button" class="btnRegist">등록</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="workBox">
                                    <div class="titleGroup">
                                        <div class="title">처리내역</div>
                                    </div>
                                    <div class="progDetailsGroup">
                                        <ul class="progList">
                                            <li class="progItem">
                                                <a href="#" class="more">
                                                    <img src="../../../common/images/iwms/ic_24_user.svg" alt="" class="profile">
                                                    <span class="name">서호원</span>
                                                    <span class="workStatus">접수대기</span>
                                                    <span class="date">2025-04-07</span>
                                                </a>
                                            </li>
                                            <li class="progItem">
                                                <a href="#" class="more">
                                                    <img src="../../../common/images/iwms/ic_24_user.svg" alt="" class="profile">
                                                    <span class="name">고윤영</span>
                                                    <span class="workStatus">접수대기</span>
                                                    <span class="date">2025-04-07</span>
                                                </a>
                                            </li>
                                            <li class="progItem">
                                                <a href="#" class="more">
                                                    <img src="../../../common/images/iwms/ic_24_user.svg" alt="" class="profile">
                                                    <span class="name">정형호</span>
                                                    <span class="workStatus">합의</span>
                                                    <span class="date">2025-04-07</span>
                                                </a>
                                            </li>
                                            <li class="progItem">
                                                <a href="#" class="more">
                                                    <img src="../../../common/images/iwms/ic_24_user.svg" alt="" class="profile">
                                                    <span class="name">안경애</span>
                                                    <span class="workStatus">협의요청</span>
                                                    <span class="date">2025-04-07</span>
                                                </a>
                                            </li>
                                            <li class="progItem">
                                                <a href="#" class="more">
                                                    <img src="../../../common/images/iwms/ic_24_user.svg" alt="" class="profile">
                                                    <span class="name">박형식</span>
                                                    <span class="workStatus">접수대기</span>
                                                    <span class="date">2025-04-07</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="workBox">
                                    <div class="titleGroup">
                                        <div class="title">작업내역</div>
                                    </div>
                                    <div class="historyGroup">
                                        <div class="human">
                                            <span class="manager">작업자 : </span>
                                            <img src="../../../common/images/iwms/ic_24_user.svg" alt="" class="profile">
                                            <span class="name">고윤영 과장</span>
                                            <span class="team">디자인</span>
                                        </div>
                                        <div class="time">계획공수 : 4시간</div>
                                        <div class="msg">
                                            해당 문서 파악 후 이벤트 및 배너 작업 요청드립니다.<br>
                                            (사이즈 : 800x800 , 300x400)
                                        </div>
                                        <div class="btnArea">
                                            <button class="btn blue">접수</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- //컨텐츠 내용 -->

<%- include('../../layout/iwms/bottom.ejs', {
    url: "../../../"
}) %>